{% block sidebar %}
<div class="sidebar-section">
	<h1>About Me</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quisquam nam doloremque sequi non, reiciendis natus! Quaerat sapiente qui temporibus?</p>
	<h1>Follow Me</h1>
	<div class="social-media">
		<a href="#"><i class="fab fa-twitter fa-2x"></i> Twitter</a>
		<a href="#"><i class="fab fa-discord fa-2x"></i> Discord</a>
		<a href="#"><i class="fab fa-linkedin fa-2x"></i> LinkedIn</a>
	</div>
</div>
{% endblock sidebar %}